<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Data</title>
</head>
<body>
    <div>
        Average air temperature at 2 meters above ground: {{ temperature_2m }}
    </div>
    <div>
        Average relative humidity at 2 meters above ground: {{ relativehumidity_2m }}
    </div>
</body>
</html>